/* purgecss start ignore */
@tailwind base;
@tailwind components;
#SideMenu{
    /* transform: translateX(100%); */
    transform: translateX(100%);
    transition: transform .5s;

}
#SideMenu.true{
    transform: translateX(0%);
    transition: transform .5s

}
body{
    overflow-x: hidden;
}
/* for typing animation */
.Typist .Cursor {
    display: inline-block; }
    .Typist .Cursor--blinking {
      opacity: 1;
      animation: blink 1s linear infinite; }
  
  @keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }
/* purgecss end ignore */
@tailwind utilities;
